<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TMXMapSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TMXMapSampleMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F0F81941768146E006F5FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F0F81BF1768146E006F5FB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F95629818F3C87000E9DA8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9562BC18F3C87000E9DA8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
